.gigs > .container{
    margin-top: 80px;
    margin-bottom: 40px;
}
.Btn-CreateGigs{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.delete_Gig{
    cursor: pointer;
}
.table_gigs .list-group-item:nth-child(even){
    background-color: #1dbf730f;
}
.btnEdit_Update{
    margin: 0 5px;
    background-color: bisque;
}
.btnEdit_Update:hover{
    background-color: aliceblue;
}
.btnEdit_Update:active{
    opacity: 0.2;
    background-color: aliceblue !important;

}

.btnConfirm,
.btnCancel,
.btnDelivery,
.btnComplete{
    margin-right: 10px;
}