.userdetail{
    font-weight: 600;
    background-color: #f7f7f7;
    padding: 20px;
}
.userdetail img{
    border-radius: 50%;
}
.userdetail .userInfo{
    background-color: white;
    width: 27%;
    padding: 10px;
    line-height: 40px;
}
.userdetail .userInfo .line{
    width: 100%;
    height: 1px;
    background-color: #e7e8e9;
}